/* Default layout */
.MMM-Lastfm .standard .reverse {
    direction: rtl;
    margin-right: 0;
    margin-left: auto;
}

.MMM-Lastfm .standard table {
    width: inherit;
    max-width: inherit;
    border-collapse: collapse;
    table-layout: fixed;
}

.MMM-Lastfm .standard .symbol {
    width: 25px;
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-small);
}

.MMM-Lastfm .standard .symbol span {
    padding-top: 4px;
}

.MMM-Lastfm .standard .symbol span {
    padding-right: 4px;
}

.MMM-Lastfm .standard .reverse .symbol span {
    padding-left: 4px;
    padding-right: 0;
}

.MMM-Lastfm .standard .title {
    padding-left: 0;
    padding-right: 0;
}

/* Row layout */
.MMM-Lastfm .row.reverse {
    direction: rtl;
}

.MMM-Lastfm .row {
    display: flex;
}

.MMM-Lastfm .row .img-holder {
    height: 5em;
    float: left;
}

.MMM-Lastfm .row .img-holder img {
    height: 100%;
}

.MMM-Lastfm .row .table-holder {
    float: left;
}

.MMM-Lastfm .row table {
    height: 100%;
    text-align: left;
}

.MMM-Lastfm .row .title {
    padding-left: 15px;
}

.MMM-Lastfm .row.reverse .title {
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
}

.MMM-Lastfm .row .title.bright {
    vertical-align: top;
    padding-top: 0;
}

.MMM-Lastfm .row .title {
    vertical-align: bottom;
    padding-bottom: 0;
}
