.MMM-Lastfm .standard .reverse {
    direction: rtl;
    margin-right: 0;
    margin-left: auto;
}

.MMM-Lastfm .standard table {
    width: inherit;
    max-width: inherit;
    border-collapse: collapse;
    table-layout: fixed;
}

.MMM-Lastfm .standard .symbol {
    width: 25px;
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-small);
}

.MMM-Lastfm .standard .symbol span {
    padding-top: 4px;
    padding-right: 4px;
}

.MMM-Lastfm .standard .reverse .symbol span {
    padding-left: 4px;
    padding-right: 0;
}

.MMM-Lastfm .standard .title {
    padding-left: 0;
    padding-right: 0;
}
