<div class="standard">
    <img src="{{ (payload.recenttracks.track[0].image | last)['#text'] }}" alt="{{ payload.recenttracks.track[0].name }}">
    <table class="small {{ 'reverse' if data.position in ['top_right', 'bottom_right'] }}">
        <tr class="normal event">
            <td class="symbol bright">
                <span class="fa-fw fa-brands fa-itunes-note"></span>
            </td>
            <td class="title bright">
                {{ payload.recenttracks.track[0].name | truncate(config.textLength) }}
            </td>
        </tr>
        <tr class="normal event">
            <td class="symbol">
                <span class="fa-fw fa-solid fa-people-group"></span>
            </td>
            <td class="title">
                {{ payload.recenttracks.track[0].artist['#text'] | truncate(config.textLength) }}
            </td>
        </tr>
        <tr class="normal event">
            <td class="symbol">
                <span class="fa-fw fa-solid fa-compact-disc"></span>
            </td>
            <td class="title">
                {{ payload.recenttracks.track[0].album['#text'] | truncate(config.textLength) }}
            </td>
        </tr>
</div>
