<div class="small dimmed">
    <img src="{{ recenttracks.track[0].image[3]['#text'] }}" alt="{{ recenttracks.track[0].name }}">
    </br >

    <span class="fa-solid fa-album"></span>
    {{ recenttracks.track[0].name }}
    </br>

    <span class="fa-solid fa-album"></span>
    {{ recenttracks.track[0].artist['#text'] }}
    </br>

    <span class="fa-solid fa-album"></span>
    {{ recenttracks.track[0].album['#text'] }}
</div>
