<div class="minimal small left">
    <table>
        <tr>
            <td class="symbol bright">
                <span class="fa-fw fa-brands fa-itunes-note"></span>
            </td>
            <td class="title bright">
                {{ payload.recenttracks.track[0].name | truncate(config.textLength) }}
                -
                {{ payload.recenttracks.track[0].artist['#text'] | truncate(config.textLength) }}
            </td>
        </tr>
    </table>
</div>
