
.MMM-Lastfm .row {
    display: flex;
}

.MMM-Lastfm .row .img-holder {
    height: 100px;
}

.MMM-Lastfm .row .img-holder img {
    height: 100%;
}

.MMM-Lastfm .row table {
    height: 100%;
}

.MMM-Lastfm .row table .title {
    vertical-align: bottom;
    padding-bottom: 0;
}

.MMM-Lastfm .row table .title.bright {
    vertical-align: top;
    padding-top: 0;
}

/* Album art effects */
.MMM-Lastfm .row .img-holder .cd ~ .cd-hole {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    left: 37px;
    bottom: 68px;
    border-width: 6px;
}

/* Left */
.MMM-Lastfm .row.left .img-holder {
    float: left;
}

.MMM-Lastfm .row.left table {
    text-align: left;
}

.MMM-Lastfm .row.left table .title {
    padding-left: 15px;
}

.MMM-Lastfm .row.left table .title span {
    padding-right: 4px;
}

/* Right */
.MMM-Lastfm .row.right {
    float: right;
}

.MMM-Lastfm .row.right .img-holder {
    float: right;
}

.MMM-Lastfm .row.right table {
    text-align: right;
}

.MMM-Lastfm .row.right table .title {
    padding-right: 15px;
}

.MMM-Lastfm .row.right table .title span {
    padding-left: 4px;
}
